.sl-table {
  width: 100%;
  border-collapse: collapse;
}

.sl-table th, .sl-table td {
  padding: 6px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
}

.sl-table th {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05); /* Softer background */
  font-size: 0.95em;
  color: rgba(255, 255, 255, 0.85); /* Slightly muted white */
  text-transform: none;
}

.sl-stop-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}